<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="RutaXML33" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom33.xml" />
		<add key="RutaXML33" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom33.xml" />
		<add key="RutaXML33fc" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom33fc.xml" />
		<add key="RutaXML40" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom40.xml" />
		<add key="RutaXML40fad" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom40fad.xml" />
		<add key="RutaXML40he" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom40he.xml" />
		<add key="RutaXML40i" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom40i.xml" />
		<add key="RutaXML401" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom401.xml" />
		<add key="RutaXML402" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom402.xml" />
		<add key="RutaXML403" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom403.xml" />
		<add key="RutaXML404" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom404.xml" />
		<add key="RutaXML405" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom405.xml" />
		<add key="RutaXML406" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom406.xml" />
		<add key="RutaXML407" value="C:\Users\dhama\Downloads\CFDIs\CFDiNom407.xml" />



		<add key="Database" value="EAMR000814AT7" />
		<add key="CollectionDB" value="MBDB_NAcumulados" />

		<add key="Host" value="127.0.0.1" />
		<add key="Port" value="27777" />
	</appSettings>
</configuration>